
{% if user.is_authenticated %}

Logged In as {{ user.username }}

<a href="{% url 'CreateToDo' %}">Создать задачу</a>
<a href="{% url 'CurrentToDo' %}">Текущие задачи</a>
<a href="{% url 'completedtodos' %}">Выполненные задачи</a>



<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Log out</button>
</form>

{% else %}

<a href="{% url 'signupuser' %}">Sign Up</a>
<a href="{% url 'loginuser' %}">Log in</a>

{% endif %}
<br>
<br>

{% block content%}{% endblock %}