<h1>Смена пароля</h1>
<br>
<div class="col-md-5">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="old_password">Старый пароль</label>
            <input type="password" name="old_password" class="form-control" id="old_password">
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="new_password">Новый пароль</label>
            <input type="password" name="new_password" class="form-control" id="new_password">
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Смена пароля</button>
    </form>
</div>
