{% extends "todo/base.html" %}

{% block content %}
<br>
<br>
        <div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

            <h1>В нашем Блокнотике будут храниться ваши задачи!</h1>
        <br>
            <p>Жизнь классная штука, но насколько она насыщенна мало кто может представить. Есть миллион вещей, которые ты бы мог сделать, но важно другое, что ты в конечном итоге СДЕЛАЛ. Мы создали «Блокнотик», чтобы помочь вам осознать все свои возможности и жить так, как даже не мечтали прежде, организованно, целенаправленно, последовательно и делать в первую очередь то, что для вас важнее всего. Этот проект создан для того, чтобы вы могли начать новую жизнь!</p>
        <br>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Приступить</a>
        </div>
    </div>

{% endblock %}
